{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react",
        "@preact/",
        "<THIRD_PARTY_MODULES>",
        "",
        "@/signals",
        "^@/helpers/(.*)$",
        "@/utils",
        "@/axios",
        "",
        "^@/pages/(.*)$",
        "^@/components/(.*)$",
        "^[.]"
    ],
    "tabWidth": 4,
    "singleQuote": false,
    "semi": false,
    "bracketSameLine": true,
    "arrowParens": "always",
    "printWidth": 96,
    "trailingComma": "all"
}