@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto Serif";
        font-weight: 700;
        src:
            url("/fonts/RobotoSerif_Bold.woff2") format("woff2"),
            url("/fonts/RobotoSerif_Bold.woff") format("woff");
    }

    body {
        font-family: "Poppins", sans-serif;
    }
}

* {
    transition: 0.1s padding ease-in-out;
}

@layer components {
    .wrapper {
        @apply flex flex-col gap-8 py-4 sm:flex-row sm:px-16;
    }

    .input {
        @apply rounded-xl border-2 bg-gray-50 px-4 py-2 focus:outline-none;
    }

    .DropdownMenuItem {
        @apply m-1 rounded-sm px-2 py-1 text-sm font-medium hover:cursor-pointer hover:bg-gray-100 hover:outline-none;
    }
}
